@media (max-width: 360px) {
    h1 {
        text-align: left;
    }

    #quick-info ul {
    text-align: left;
    }

    #quick-info ul li {
        display: block;
        padding: 0;
    }
}

@media (min-width: 992px) {
    .cv-content {
        border-left: 1px dotted gainsboro;
    }
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}
.fa-heart {
    color: crimson;
}

.fa-star,
.fa-star-half {
    color: goldenrod;
}

/* secciones */
#quick-info ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#quick-info ul li {
    display: inline;
    padding: 10px;
}

.cv-list {
    -webkit-columns: 2 350px;
       -moz-columns: 2 350px;
            columns: 2 350px;
}

.star-list dt {
    float: left;
    clear: left;
    margin-right: 0.5em;
}

.star-list dt:after {
    content: ":";
}

.panel-title b:after {
    content: ":";
}

.date-list dd {
    padding: 0.5em;
}

.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}
