h1 {
    text-align: center;
}

/* clases */
.left-menu {
    border-right: 1px dotted gainsboro;
    height: 100vh;
}

.fa-heart {
    color: crimson;
}

.fa-star,
.fa-star-half {
    color: goldenrod;
}

/* secciones */
#quick-info ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#quick-info ul li {
    display: inline;
    padding: 10px;
}

.cv-list {
    -webkit-columns: 2 350px;
       -moz-columns: 2 350px;
            columns: 2 350px;
}

.star-list dt {
    float: left;
    clear: left;
    margin-right: 0.5em;
}

.star-list dt:after {
    content: ":";
}
